

@keyframes startstation {
  0% {
    stroke-width: 8;
    stroke: rgb(195, 192, 255);
    opacity: 100%
  }
  15% {
    stroke:rgb(102, 148, 254); 
  }
  30% {
    stroke: rgb(53, 107, 255);
  }
  50% {
    stroke: rgb(1, 5, 227);

  }
  85% {
    stroke:rgb(91, 9, 244)
  }
  100% {
    stroke-width: 60;
    stroke: rgb(0, 0, 0);
    opacity: 5%
  }
}

@keyframes endstation {
  0% {
    stroke-width: 8;
    stroke: rgb(195, 192, 255);
    opacity: 100%
  }
  15% {
    stroke:rgb(248, 143, 255); 
  }
  30% {
    stroke: rgb(230, 43, 255);
  }
  50% {
    stroke: rgb(253, 2, 107);

  }
  85% {
    stroke:rgb(108, 1, 1)
  }
  100% {
    stroke-width: 60;
    stroke: rgb(40, 1, 1);
    opacity: 5%
  }
}
.station.starting {
  animation: startstation 2s infinite;
  animation-timing-function: ease;
}

.station.ending {
  animation: endstation 2s infinite;
  animation-timing-function: ease;
}


