body {
  background-color: #000;
}

/* starry background */
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

.stars {
  background:#000 url(../images/stars.png) repeat;
  background-attachment: fixed;
  z-index:-10;
}

.twinkling{
  background:transparent url(../images/twinkling.png) repeat;
  background-attachment: fixed;
  z-index:-1;
  animation:move-twink-back 200s linear infinite;
}

/* Train Map */

.train-container{
  position: relative;
  z-index: 2;
}


/* Train Map Details */

/*  Sequencer */

.sequencer-container {
  position: absolute;
  z-index: 4;
  height: 11%;
  width: 44%;
  top: 2%;
  right: 2%;
}

.sequencer {
  display: flex;
  height: 75%;
  flex-direction: row;
  justify-content: space-evenly;
}


.beat {
  width: 12%;
  border-radius: 4px;
  z-index: 5;
  border: 1px solid white;
}


.transport {
  padding: 3px;
  border: 3px solid limegreen;
  margin-left: 50%;
  margin-top: 5%;
}

.active {
  background-color: steelblue;
}

.current-beat {
  border-bottom: 5px solid red;
}
